<hr>
<div class="footer">
  <a class="link" href="https://github.com/failed-successfully/ngx-darkbox-gallery-library" target="_blank">
    <mat-icon svgIcon="github-icon" aria-hidden="false" aria-label="GitHub icon"></mat-icon>
    Fork us on GitHub
  </a>
  <a class="link" href="https://www.npmjs.com/package/@failed-successfully/ngx-darkbox-gallery" target="_blank">
    <mat-icon class="npm-icon" svgIcon="npm-icon" aria-hidden="false" aria-label="NPM icon"></mat-icon>
    Visit us on NPM
  </a>
  <a href="https://github.com/failed-successfully/ngx-darkbox-gallery-library/blob/main/README.md" target="_blank">
    Documentation
  </a>
</div>
