.header {
  display: flex;
  align-items: center;
}

.title {
  height: 5rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;

  padding-block-start: 1rem;
  margin-block-end: 1.5rem;

  img {
    display: block;
    height: 100%;

    margin-inline-end: 0.5rem;
  }
}

.button-container {
  display: flex;
  justify-content: center;
  margin-block-start: 1rem;
}

.footer {
  display: flex;
  justify-content: center;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
  
  a {
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;
  }
}
