<div class="header">
  <div class="title">
    <img src="/assets/darkbox-icon.svg">
    <h1>Darkbox Gallery Demo</h1>
  </div>
  <app-dark-mode-switch></app-dark-mode-switch>
</div>

<!-- Configuration editor -->
<app-configuration-editor (configChanged)="configuration = $event"></app-configuration-editor>

<!-- Gallery Demo -->
<darkbox-gallery [images]="images" [loadMoreImagesEvents]="eventsSubject.asObservable()"
  (allImagesInDom)="allImagesInDom()" [configuration]="configuration">
</darkbox-gallery>
<div class="button-container">
  @if (areMoreImagesAvailable) {
    <button mat-stroked-button (click)="loadMoreImages()" color="primary">Load more
    images</button>
  }
</div>

<!-- Footer -->
<app-footer></app-footer>
