<div class="header">
  <div class="title">
    <img src="/assets/darkbox-icon.svg">
    <h1>Darkbox Gallery Demo</h1>
  </div>
  <app-dark-mode-switch></app-dark-mode-switch>
</div>

<!-- Configuration editor -->
<app-configuration-editor></app-configuration-editor>
<darkbox-gallery [images]="images" [loadMoreImagesEvents]="eventsSubject.asObservable()"
  (allImagesInDom)="allImagesInDom()">
</darkbox-gallery>
<div class="button-container">
  <button mat-stroked-button *ngIf="areMoreImagesAvailable" (click)="loadMoreImages()" color="primary">Load more
    images</button>
</div>

<!-- Footer -->
<app-footer></app-footer>
