<div class="header">
  <div class="title">
    <img src="/assets/darkbox-icon.svg">
    <h1>Darkbox Gallery Demo</h1>
  </div>
  <app-dark-mode-switch></app-dark-mode-switch>
</div>
<darkbox-gallery [images]="images" [loadMoreImagesEvents]="eventsSubject.asObservable()"
  (allImagesInDom)="allImagesInDom()">
</darkbox-gallery>
<div class="button-container">
  <button *ngIf="areMoreImagesAvailable" (click)="loadMoreImages()">Load more images</button>
</div>

<!-- Footer -->
<hr>
<div class="footer">
  <a href="https://github.com/failed-successfully/ngx-darkbox-gallery-library" target="_blank">
    <img height="16px" width="1rem" src="/assets/github-icon.svg">
  </a>
  <a href="https://www.npmjs.com/package/@failed-successfully/ngx-darkbox-gallery" target="_blank">
    <img height="1rem" width="1rem" src="/assets/npm-icon.svg">
  </a>
  <a href="https://github.com/failed-successfully/ngx-darkbox-gallery-library/blob/main/README.md" target="_blank">
    Documentation
  </a>
</div>