
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$ngx-darkbox-gallery-library-primary: mat.define-palette(mat.$indigo-palette);
$ngx-darkbox-gallery-library-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$ngx-darkbox-gallery-library-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$ngx-darkbox-gallery-library-theme: mat.define-light-theme((
  color: (
    primary: $ngx-darkbox-gallery-library-primary,
    accent: $ngx-darkbox-gallery-library-accent,
    warn: $ngx-darkbox-gallery-library-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($ngx-darkbox-gallery-library-theme);

/* You can add global styles to this file, and also import other style files */
$light-theme-background: #fff;
$light-theme-text-color: #000;
$dark-theme-background: #1c1c1c;
$dark-theme-text-color: #eee;
$dark-theme-highlight-color: #809fff;

body {
  background: $light-theme-background;
  font: 100% system-ui;
}

h1,
p {
  color: $light-theme-text-color;
}

button{
  cursor: pointer;
}

body.dark-theme {
  background: $dark-theme-background;

  h1,
  p {
    color: $dark-theme-text-color;
  }
  a {
    color: $dark-theme-highlight-color;
  }
  svg {
    fill: $dark-theme-text-color;
  }
  button {
    background-color: $dark-theme-background;
    color: $dark-theme-highlight-color;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
