/* You can add global styles to this file, and also import other style files */
$light-theme-background: #fff;
$light-theme-text-color: #000;
$dark-theme-background: #1c1c1c;
$dark-theme-text-color: #eee;
$dark-theme-highlight-color: #809fff;

body {
  background: $light-theme-background;
  font: 100% system-ui;
  color: $light-theme-text-color;

  svg {
    fill: $light-theme-text-color;
  }
}

button{
  cursor: pointer;
}

body.dark-theme {
  background: $dark-theme-background;
  color: $dark-theme-text-color;

  a {
    color: $dark-theme-highlight-color;
  }
  svg {
    fill: $dark-theme-text-color;
  }
  button {
    background-color: $dark-theme-background;
    color: $dark-theme-highlight-color;
  }
}
