# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [22.x,24.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6
        with:
          node-version: ${{ matrix.node-version }}
      - run: npm i
      - run: npm run build -- ngx-darkbox-gallery --configuration=production
      - run: cp *.md dist/ngx-darkbox-gallery/
      - run: cp LICENSE dist/ngx-darkbox-gallery/
      - name: Test
        run: npm run test:lib:ci
      # Upload the build artifacts to GitHub
      - uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6
        with:
          name: ngx-darkbox-gallery-${{ matrix.node-version }}
          path: dist/ngx-darkbox-gallery/
