on:
  workflow_call:

permissions:
  contents: write

jobs:
  update-release-notes:
    name: Update release notes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Extract release notes
        id: extract-release-notes
        uses: ffurrer2/extract-release-notes@202313ec7461b6b9e401996714484690ab1ae105 # v3
      - name: Update release notes
        id: update-release
        uses: tubone24/update_release@435571083c6ffef76d88754c17a92751cbf04114 # tag=v1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body: ${{ steps.extract-release-notes.outputs.release_notes }}
