on:
  workflow_call:

permissions:
  contents: write

jobs:
  update-release-notes:
    name: Update release notes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Extract release notes
        id: extract-release-notes
        uses: ffurrer2/extract-release-notes@cae32133495112d23e3569ad04fef240ba4e7bc8 # v2
      - name: Update release notes
        id: update-release
        uses: tubone24/update_release@435571083c6ffef76d88754c17a92751cbf04114 # tag=v1.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          body: ${{ steps.extract-release-notes.outputs.release_notes }}
